# Copie para .env.local e preencha os valores

NEXT_PUBLIC_APP_NAME=estoque-lojinha-offline
NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_PAGSEGURO_LINK=https://pagseguro.com.br/seu-link-recorrencia
NEXT_PUBLIC_DEV_WHATSAPP=5551991251325
NEXT_PUBLIC_ADMIN_EMAIL=seu-email@gmail.com

GOOGLE_VERIFICATION_ID=
